/README.el

/lectures/*.pdf
/slides/*.pdf
/td/*.pdf

*.toc
*.aux
*.tex
*.auxlock
*.fdb_latexmk
*.fls
*.vrb
*~
*latex.d/
*tikz.d/

/doc/
/notes/
/index.html
/lectures/tree.svg
/projet/opa/opa_fd.pdf
/projet/opa/opa_sd.pdf
/projet/simulated_annealing/simulated_annealing.pdf
/projet/slides/slide_projet.pdf
